body {
  margin: 0;
  padding: 0;
  font-family: Georgia, Ubuntu, serif;
  background-image: url('../images/cardboard.png');
}
#outer-wrapper {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 960px;
  margin: 0 auto;
  margin-top: 100px;
}
#inner-wrapper {
  background-color: #F9F7ED;
}
h1 {
  font-size: 24px;
  border-bottom: 1px solid #CCC;
}
h2 {
  font-size: 22px;
}
header {
  background-color: red;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  text-align: center;
  margin-bottom: -19px;
}
nav {
  float: left;
  border-right-style: dotted;
  border-width: 1px;
  height: inherit;
  padding: 5px;
}
nav a {
  text-decoration: none;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#content {
  padding-top: 20px;
  padding-left: 100px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 18px;
}
#validering {
  text-align: center;
}
#content table {
  border-collapse: collapse;
  border-style: dashed;
  border-width: 1px;
}
#content #ansvar td {
    text-align: center;
}
#content th {
  border: 1px solid black;
}
#content td {
  border-bottom: 1px solid black;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
aside {
  float: right;
  padding: 5px;
}
aside li {
  list-style-type: none;
  text-align: center;
}
footer {
  background-color: red;
  clear: both;
  text-align: center;
}
